<mat-tab-group mat-stretch-tabs>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="main-tab-icon">search</mat-icon>
		</ng-template>
		<div class="tab-content">
			<mat-grid-list cols="3" rowHeight="48px">
				<mat-grid-tile colspan=1>
					<div style="position: absolute; left: 0;">
						Recepies
					</div>
				</mat-grid-tile>
				<mat-grid-tile colspan=1>
					<button mat-icon-button>
						<mat-icon>add</mat-icon>
					</button>
				</mat-grid-tile>
			</mat-grid-list>

			<div *ngFor="let r of allRecipes">
				<app-recipe-card [(recipe)]='r'></app-recipe-card>
			</div>
		</div>
	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="main-tab-icon">star</mat-icon>
		</ng-template>
		<div class="tab-content">
			<p>
				Favorites
			</p>
			<div *ngFor="let r of favoriteRecipes">
				<app-recipe-card [(recipe)]='r'></app-recipe-card>
			</div>
		</div>
	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="main-tab-icon">restaurant</mat-icon>
		</ng-template>
		<div class="tab-content">
			<p>
				On The Menu
			</p>
			<div *ngFor="let r of selectedRecipes">
				<app-recipe-card [(recipe)]='r'></app-recipe-card>
			</div>
		</div>
	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="main-tab-icon">shopping_cart</mat-icon>
		</ng-template>
		<div class="tab-content">
			<mat-grid-list cols="3" rowHeight="48px">
				<mat-grid-tile colspan=1>
					<div style="position: absolute; left: 0;">
						To Buy
					</div>
				</mat-grid-tile>
				<mat-grid-tile colspan=1>
					<button mat-icon-button>
						<mat-icon>add</mat-icon>
					</button>
				</mat-grid-tile>
			</mat-grid-list>
			<div *ngFor="let group of toBuyItems">
				<p>
					{{group.title}}
				</p>
				<div *ngFor="let i of group.items">
					<app-grocery-card [(grocery)]='i'></app-grocery-card>
				</div>
			</div>
		</div>
	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="main-tab-icon">done</mat-icon>
		</ng-template>
		<div class="tab-content">
			<p>
				Purchased
			</p>
			<div *ngFor="let group of purchasedItems">
				<p>
					{{group.title}}
				</p>
				<div *ngFor="let i of group.items">
					<app-grocery-card [(grocery)]='i'></app-grocery-card>
				</div>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>